@charset "UTF-8";

* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-header: "Passion One", sans-serif;
    --fonte-main: "Sriracha", cursive;
    --fonte-footer: Verdana, Tahoma, sans-serif;
}

body {
    min-width: 320px;
}

header {
    text-align: center;
    background-color: black;
    min-height: 174px;
    max-height: 300px;
}

header h1 {
    font-family: var(--fonte-header);
    font-weight: bolder;
    color: white;
    padding-top: 60px;
}

header p {
    padding-top: 5px;
    color: white;
}

main {}

article {
}

article p {
    display: inline-block;
    font-family: var(--fonte-main);
    font-style: italic;
    font-weight: 300;
    font-size: 2.2em;
    line-height: 2em;
    text-align: ;
    width: 40vw;
}

div {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 70px;
}

.parallax {
    background-position: relative;
    background-size: cover;
}

.parallax p {
    background-color: rgba(0, 0, 0, 0.5);
}

#parallax1 {   
    background-image: url('imagens/background001.jpg');       
}

#parallax2 {
    background-image: url('imagens/background002.jpg');
}

.parallax {
    
}

.parallax p {
    color: white;
}

footer {
    background-color: black;
}

