@charset "UTF-8";

* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-header: "Passion One", sans-serif;
    --fonte-main: "Sriracha", cursive;
    --fonte-footer: Verdana, Tahoma, sans-serif;
}

body {
    min-width: 320px;
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: black;
    min-height: 174px;
    max-height: 300px;
}

header h1 {
    font-family: var(--fonte-header);
    font-weight: bolder;
    color: white;
}

main {}

article {}

#parallax1 {
    background-image: url('imagens/background001.jpg');
}

#parallax2 {
    background-image: url('imagens/background002.jpg');
}

.parallax {
    
}

.parallax p {
    color: white;
}

footer {
    background-color: black;
}

